body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
dialog {
  width: 50vw;
  height: 50vh;
  border: 1 px solid grey;
  border: 2px solid;
  border-radius: 5px;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}
button:disabled {
  background-color: gray;
  pointer-events: none;
}
button:hover {
  background-color: #3a85c4;
}
button:active {
  background-color: #2f6a9b;
}
#map {
  height: 100vh;
  width: 100vw;
}
.dialogBackground {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
.dialogBackgroundVisible {
  visibility: visible;
}
.dialog {
  position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  left: 0;
  background: #fdf7f7;
  z-index: 1001;
  filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.4));
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --animation-speed: 500ms;
  transition: all var(--animation-speed) ease-in;
  transform: translateX(-110%);
}
.visible {
  transform: translateX(0%);
}
.title {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.subtitle {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}
.dialogClose {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}
.description {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin-right: 3rem;
  overflow: auto;
  line-height: 1.75;
}
.dialogImageContainer {
  position: relative;
}
.image {
  position: relative;
  width: 90%;
  height: 100%;
  max-height: 450px;
  background-color: #e6e4e4;
  margin-right: 3rem;
  border-radius: 6px;
  transition: all 250ms ease-in-out;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageIcon {
  height: 10%;
  position: relative;
}
.imageIcon > img {
  height: 45px;
}
#next {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  top: 50%;
}
#previous {
  position: absolute;
  transform: rotateZ(180deg);
  background: none;
  border: none;
  left: 0;
  top: 50%;
}
.hide {
  visibility: hidden;
}
.editButton {
  position: absolute;
  top: 0;
  left: 0;
}
.userInstructions {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
  button {
    pointer-events: all;
  }
}

.editDialog {
  z-index: 50000;
}
.dialogbuttons {
  position: absolute;
  right: 5;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-direction: column;
  button {
    img {
      height: 32px;
      margin-left: -10px;
      margin-top: -3px;
    }
  }
}
.dialogActionButton {
  background: none;
  width: 45px;
  height: 45px;
}
.dialogActionButton:hover {
  background: lightgray;
}
.dialogActionButton:active {
  background: gray;
}
.descriptionTextArea {
  height: 100%;
  textarea {
    width: 90%;
    line-height: 1.75;
    height: 90%;
  }
}
.dialogInputTitle {
  margin-top: 1rem;
  input {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    width: 90%;
  }
}
#intro {
  .dialogContent {
    justify-content: space-evenly;
    align-items: center;
  }
}
#progress {
  display: flex;
  flex-direction: row;
  z-index: 10000;
  justify-content: center;
}
.progressBar {
  position: relative;
  display: flex;
  gap: 3rem;
  font-size: 16px;
  font-family: "Inter";
  background: white;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4rem;
  border: 1px solid black;
}

.progressIndicator {
  display: flex;
  background-color: white;
  z-index: 1111;
  padding-left: 10px;
  padding-right: 10px;
}
.progressIndicator::before {
  content: "";
  display: flex;
  align-items: center;
  /* background-color: red; */
  background-image: url("./assets/empty-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border-radius: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.active.progressIndicator::before {
  border: 3px solid gold;
}
.completed.progressIndicator::before {
  background-image: url("./assets/checked-circle.png");
  background-repeat: no-repeat;
}
.bar {
  position: absolute;
  top: 35%;
  left: 4%;
  width: 90%;
  height: 10px;
  background-color: rgba(106, 132, 102, 0.3);
}
.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  align-items: center;
}
.imageAddDialog {
  width: 90%;
  height: 90%;
  .dialogContent {
    justify-content: flex-start;
  }
}
.imageAdd {
  input {
    padding-top: 0.75rem;
    padding-bottom: 0.6rem;
  }
}
.previewImageContainer {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 18rem;
  border: 1px sold black;
  border: 1px solid black;
  position: relative;
  border-radius: 0.4rem;
  img {
    max-height: 20vh;
  }
}
.addButton {
  position: absolute;
  right: 5;
  top: 5;
  width: 3rem;
  background-color: white;
  padding: 0;
  height: 3rem;
  border-radius: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.addButton:hover {
  background: lightgrey;
}
.addButton:active {
  background: grey;
}

.imageDeleteBtn {
  width: 3rem;
  height: 3rem;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3rem;
  img {
    height: 100%;
    margin-left: -7px;
  }
}
.imageDeleteBtn:hover {
  background: lightgrey;
  border-radius: 3rem;
}
.imageList {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttonBar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: auto;
}
textarea {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin-right: 3rem;
  overflow: auto;
  line-height: 1.75;
}
.inputRow {
  display: flex;
  gap: 0.5rem;
  textarea {
    font-size: 1rem;
  }
}
#baseLayerSelection {
  height: 80vh;
  font-family: "Inter";
  .description {
    width: 80%;
  }
}
.baseLayerInputRow {
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputLabel {
  width: 21%;
  display: inline-block;
}
.baseLayerList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 50%;
  overflow: auto;
  width: 80%;
}
.baseLayerInput {
  font-family: "Open Sans";
  width: 60%;
}
.deleteRow {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  img {
    height: 32px;
    margin-left: -10px;
    margin-top: -3px;
  }
}
