:root {
  --title-font: "Inter";
  --body-font: "Open Sans";
  --dialog-body-font-size: .9rem;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.genericDialog {
  max-height: 75vh;
  width: 60vw;
  border: 1 px solid grey;
  border: 2px solid;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.4));
}

.genericDialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.dialogTitle {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0.75px solid #b5b5b5;
  padding-bottom: .75rem;
  font-size: var(--title-font-size, 3rem);
  font-family: var(--title-font), sans-serif;
  font-weight: 600;
}

.content {
  padding-bottom: 1rem;
}

.footer {
  margin: auto;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-top: 0.75px solid #b5b5b5;
  padding-top: .75rem;
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

button:disabled {
  background-color: gray;
  pointer-events: none;
}

button:hover {
  background-color: #3a85c4;
}

button:active {
  background-color: #2f6a9b;
}

#map {
  height: 100vh;
  width: 100vw;
}

.dialogBackground {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.dialogBackgroundVisible {
  visibility: visible;
}

.dialog {

  position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  left: 0;
  background: #fdf7f7;
  z-index: 10001;
  filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.4));
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  --animation-speed: 500ms;
  transition: all var(--animation-speed) ease-in;
  transform: translateX(-110%);
  padding-top: 1rem;
}

.visible {
  transform: translateX(0%);
}

.title {
  font-size: var(--title-font-size, 3rem);
  font-family: var(--title-font), sans-serif;
  font-weight: 600;
}

.subtitle {
  font-size: var(--subtitle-font-size, 1.5rem);
  font-family: var(--title-font), sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}

.mapTitleContainer {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: var(--map-title-font-size, 3.5rem);
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
  font-weight: bold;

  color: var(--map-title-font-color, white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.6));
}

#mapTitle {
  background: #333;

  border-radius: 0rem 0rem 1.75rem 1.75rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.mapTitleEditContainer {
  width: 100vw;
  z-index: 10001;
  font-size: var(--map-title-edit-font-size, 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-weight: bold;

  color: var(--map-title-font-color, white);
}

.mapTitleEditInput {
  background: none;
  border: none;
  font-family: var(--title-font);
  font-weight: bold;
  text-align: center;
  color: var(--map-title-font-color, white);
}

.dialogClose {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;

  img {
    height: 32px;
    margin-left: -9px;
    margin-top: 0px;
  }
}

.description {
  font-size: 1.2rem;
  font-family: var(--body-font), sans-serif;
  margin-right: 4rem;
  overflow: auto;
  line-height: 1.75;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.dialogImageContainer {
  position: relative;
}

.image {
  position: relative;
  width: 90%;
  height: 100%;
  max-height: 450px;
  background-color: #e6e4e4;
  margin-right: 3rem;
  border-radius: 6px;
  transition: all 250ms ease-in-out;
}

.image>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageIcon {
  height: 10%;
  position: relative;
}

.imageIcon>img {
  height: 35px;
  margin-left: 2px;
}

.imageAddContainer {
  position: relative;
  width: 90%;

  background-color: #e8e8e8;
}

.hide {
  visibility: hidden;
}

.editButton {
  position: absolute;
  top: 0;
  left: 0;
}

.userInstructions {
  position: absolute;
  /*pointer-events: none;*/
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2rem;

  .userInstruction-background {
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.6));
    background: rgba(255, 255, 255, 0.75);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
}

button {
  pointer-events: all;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.3rem;
  margin-top: 0;
}

gap: 0.5rem;
}

.editDialog {
  z-index: 50000;
}

.dialogbuttons {
  position: absolute;
  top: 0;
  right: 5;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-direction: column;

  button {
    img {
      height: 32px;
      margin-left: -10px;
      margin-top: -3px;
    }
  }
}

.dialogActionButton {
  background: none;
  width: 45px;
  height: 45px;
}

.dialogActionButton:hover {
  background: lightgray;
}

.dialogActionButton:active {
  background: gray;
}

.descriptionTextArea {
  height: 100%;

  textarea {
    width: 90%;
    line-height: 1.75;
    height: 90%;
  }
}

.dialogInputTitle {
  margin-top: 1rem;

  input {
    font-size: 3rem;
    font-family: var(--title-font), sans-serif;
    width: 90%;
  }
}

.description {
  font-size: var(--dialog-body-font-size, .9rem);
}

#progress {
  display: flex;
  flex-direction: row;
  z-index: 10000;
  justify-content: center;
  gap: 1rem;
}

.progressBar {
  position: relative;
  display: flex;
  gap: 3rem;
  font-size: 16px;
  font-family: var(--title-font);
  background: white;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4rem;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.progressIndicator {
  display: flex;
  background-color: white;
  z-index: 1111;
  padding-left: 10px;
  padding-right: 10px;
}

.progressIndicator:hover {
  cursor: pointer;
  background-color: lightgray;
}

.progressIndicator::before {
  content: "";
  display: flex;
  align-items: center;
  /* background-color: red; */
  background-image: url("./assets/empty-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border-radius: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.active.progressIndicator::before {
  border: 3px solid gold;
}

.completed.progressIndicator::before {
  background-image: url("./assets/checked-circle.png");
  background-repeat: no-repeat;
}

.bar {
  position: absolute;
  top: 35%;
  left: 4%;
  width: 90%;
  height: 10px;
  background-color: rgba(106, 132, 102, 0.3);
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.imageAddDialog {
  width: 90%;
  height: 90%;
  overflow: hidden;

  .dialogContent {

    justify-content: flex-start;
  }

  .description {
    height: 100%;
  }
}

.imageAdd {
  input {
    padding-top: 0.75rem;
    padding-bottom: 0.6rem;
  }
}

.previewImageContainer {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 18rem;
  border: 1px sold black;
  border: 1px solid black;
  position: relative;
  border-radius: 0.4rem;

  img {
    max-height: 20vh;
  }
}

.addButton {
  position: absolute;
  right: 5;
  top: 5;
  width: 3rem;
  background-color: white;
  padding: 0;
  height: 3rem;
  border-radius: 3rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.addButton:hover {
  background: lightgrey;
}

.addButton:active {
  background: grey;
}

.languageList {
  overflow-y: auto;
  max-height: 15rem;
  padding-right: 1rem;
}

#languageDialog {
  .languageColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
  }
}

.dialogLanguageSelector {
  position: absolute;
  bottom: 0.75rem;
  right: 6rem;
  z-index: 10000;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));

  select {
    padding: 1rem;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
  }

  option {
    padding: 1rem;
    background-color: white;
  }
}

.languageForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#languageEntry {
  padding: 0.6rem;
}

.languageEntry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--body-font);
  border-bottom: 1px solid black;
  width: 100%;
  height: 3rem;
}

.deleteBtn {
  width: 2rem;
  height: 2rem;
  background: none;

  img {
    height: 100%;
    margin-left: -7px;
  }
}

.deleteBtn:hover {
  background: lightgrey;
  border-radius: 3rem;
}

.imageDeleteBtn {
  width: 3rem;
  height: 3rem;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3rem;

  img {
    height: 100%;
    margin-left: -7px;
  }
}

.imageDeleteBtn:hover {
  background: lightgrey;
  border-radius: 3rem;
}

.imageList {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttonBar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: auto;
}

textarea {
  font-size: 1.2rem;
  font-family: var(--body-font) sans-serif;
  margin-right: 3rem;
  overflow: auto;
  line-height: 1.75;
}

.inputRow {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
}

#baseLayerSelection {
  height: 80vh;
  max-height: 80vh;
  font-family: var(--title-font);

  .description {
    width: 100%;
    margin-bottom: 0;
    font-size: var(--dialog-body-font-size, .9rem);
    text-align: center;
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dialogContent {
    align-items: flex-start;

    .title {
      align-self: center;
    }

    .buttonBar {
      align-self: center;
    }

    textarea {
      width: 100%;
    }

    input {
      width: 100%;
    }

    .inputRow {
      .name {
        width: 94%;
      }
    }
  }
}

.zoomInputs {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 98%;

  .inputRow {
    width: 100%;
  }
}

.baseLayerInputRow {
  position: relative;
  border: 1px solid #b5b5b5;
  background-color: #efefef;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
}

.inputLabel {
  display: inline-block;
}

.baseLayerList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 50%;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.titleLine {
  width: 110%;
  margin: 0;
  padding: 0;
  margin-left: -1rem;
  margin-top: -0.5rem;
  border-bottom: 0.75px solid #b5b5b5;
}

.bottomLine {
  margin-top: 0;
  margin-bottom: -0.5rem;
}

.baseLayerInput {
  font-family: var(--body-font);
  font-size: 0.8rem;
  width: 95%;
}

.deleteRow {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;

  img {
    height: 32px;
    margin-left: -10px;
    margin-top: -3px;
  }
}

.download {
  text-decoration: none;
  font-family: var(--title-font);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;

  img {
    height: 30px;
  }
}

/* .download::before {
  content: url("./assets/download.png");
} */
.createDialog {
  .dialogContent {
    .description {
      font-size: var(--dialog-body-font-size, .9rem);
    }

    overflow: hidden;
  }
}

.shortCreateDialog {
  .dialogContent {
    .description {
      min-height: 60%;
    }
  }
}

.userInstructionButtons {
  display: flex;
  gap: 1rem;
}

.uploadPrompt {
  font-family: var(--body-font);
  font-size: var(--dialog-body-font-size, .9rem);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (width <=1250px) {
  .dialog {
    width: 98vw;
  }

  .dialogClose {
    right: 10px;
  }
}

.leaflet-control-layers label {
  font-size: 13px;
  font-size: 1.5rem;
}

.leaflet-touch .leaflet-bar a {
  line-height: 37px;
  width: 45px;
  height: 45px;
  font-size: 30pxx;
}

.returnPrompt {
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.leaflet-touch .leaflet-control-geocoder {
  height: 45px;

  button {
    width: 45px;
    height: 45px;

    svg {
      width: 1.9rem;
    }
  }

  input {
    height: 100%;
    margin-top: -0.5rem;
  }
}

.downloadButton {
  height: 40px;
  font-size: 1rem;
  display: flex;

  img {
    height: 24px;
  }
}

.recenter-control>img,
.info-control>img {
  height: 70%;
  margin-top: 15%;
}

.edit-image-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconGrid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

}

.iconButton {
  background: lightgray;

}

.iconButton:hover {
  background: rgb(167, 165, 165);
}

.iconButton:active {
  background: darkgray;
}

.customMarker {
  min-height: 75vh;
  overflow: hidden;

  .dialogContent {
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;

  }
}